name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version-file: package.json
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test:types
      - run: pnpm build
      #- run: pnpm vitest --coverage
      - run: pnpm test:integration
      - uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5
